services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "5050:5050"
    volumes:
      - ./data:/app/data

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    depends_on:
      - backend
